---
import { getSecret } from "astro:env/server";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const title = "Contacto";
---

<BaseLayout title={title}>
  <section class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-12">
      Contáctenos
    </h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid md:grid-cols-2 gap-8">
        <!-- Mapa y Formulario -->
        <div class="space-y-8">
          <div>
            <h2 class="text-2xl font-semibold text-gray-800 mb-6">
              Localización
            </h2>
            <iframe
              src="https://maps.google.es/maps?client=ubuntu&channel=cs&ie=UTF8&q=provida-sevilla&fb=1&gl=es&hq=provida&hnear=0xd126c1114be6291:0x34f018621cfe5648,Sevilla&cid=0,0,3674510220656433176&t=m&iwloc=A&ll=37.388057,-5.997406&spn=0.006295,0.006295&output=embed"
              class="w-full h-[350px] border-gray-300 rounded-lg shadow-md"
            ></iframe>
          </div>

          <!-- Información de Contacto -->
          <div class="text-gray-700">
            <h2 class="text-2xl font-semibold text-gray-800 mb-6">
              Información de Contacto
            </h2>
            <div class="space-y-4">
              <p>
                <strong>Dirección:</strong>
                {getSecret("DIRECCION")}
              </p>
              <p>
                <strong>Teléfono:</strong>{getSecret("NUMERO_TELEFONO")}
              </p>
              <p>
                <strong>Correo Electrónico:</strong>
                {getSecret("EMAIL")}
              </p>
              <p>
                <strong>Horario de Atención:</strong> Lunes a Viernes, 10:00 AM - 2:00 PM
              </p>
            </div>
          </div>
        </div>

        <!-- Formulario -->
        <div class="bg-white p-6 rounded-lg shadow-md">
          <form action="#" method="POST" class="space-y-6">
            <div>
              <label
                for="nombre"
                class="block text-sm font-medium text-gray-700">Nombre</label
              >
              <input
                type="text"
                id="nombre"
                name="nombre"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700"
                >Correo Electrónico</label
              >
              <input
                type="email"
                id="email"
                name="email"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>
            <div>
              <label
                for="mensaje"
                class="block text-sm font-medium text-gray-700">Mensaje</label
              >
              <textarea
                id="mensaje"
                name="mensaje"
                rows="4"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              ></textarea>
            </div>
            <button
              type="submit"
              class="w-full bg-blue-500 text-white px-4 py-2 rounded-md font-semibold hover:bg-blue-600 transition"
            >
              Enviar Mensaje
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
