---
import { getSecret } from "astro:env/server";
---

<footer class="bg-gray-800 text-white py-8">
  <div class="flex flex-col mx-auto px-12">
    <!-- Logo -->
    <div class="flex flex-col justify-center items-center">
      <img
        src="/images/logo-provida.webp"
        alt="Logo Asociación Provida"
        class="h-12 mx-auto md:mx-0 mb-4"
      />
      <p class="text-xs text-center">Defendemos la vida desde el primer momento.</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center mt-4">
      <p class="text-xs text-center">{getSecret("EMAIL")}</p>
      <p class="text-xs text-center">{getSecret("NUMERO_TELEFONO")}</p>
    </div>
    <!-- Información de Contacto -->

    <!-- Derechos de Autor -->
  </div>
  <div>
    <p class="text-xs text-center mt-4">
      &copy; 2025 Asociación Provida. Todos los derechos reservados.
    </p>
  </div>
</footer>
