---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';
const { title } = Astro.props;
import { getSecret } from 'astro:env/server'
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Provida Sevilla - {title}</title>
</head>
<body class="font-sans bg-gray-100">
  <Header />
  <main class="bg-gray-100 py-16 w-full">
    <slot />
  </main>
  <Footer />
</body>
</html>