---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
import { getSecret } from "astro:env/server";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/logo.ico"/>
    <meta
      name="description"
      content="Provida Sevilla - Organizaci칩n sin 치nimo de lucro dedicada a la defensa de la vida humana desde la concepci칩n. Ofrecemos apoyo, recursos y educaci칩n para mujeres embarazadas y familias en Sevilla."
    />
    <title>Provida Sevilla - {title}</title>
  </head>
  <body class="font-sans bg-gray-100">
    <Header />
    <main class="bg-gray-100 w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
